<div class="heroBanner">
  <div class="leftBars">
    <div class="bar one">

    </div>
    <div class="bar two">

    </div>

  </div>
  <div class="heroText">
    <div class="title">
      <h1>my <span>internship</span> projects</h1>
    </div>
    <div class="rightBars">

      <div class="bar one">
        <div class="subTitle">
          <h2>by marcela estrada</h2>
        </div>
      </div>
      <div class="bar two">

      </div>
    </div>

  </div>

</div>

<div class="cloud top">

</div>
<div class="cloud bottom">
  <div class="cloud side left">

  </div>
  <div class="cloud middle">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet vulputate ex, placerat volutpat orci. Maecenas tristique nulla neque. In elementum et nisi nec commodo.</p>
  </div>
  <div class="cloud side right">

  </div>
</div>
