<div class="daynight">
  <form class="" action="/" method="post">

    <button id="day" type="submit" name="themeType" value=<%= url + ',day' %>>day</button>
    <button id="night "type="submit" name="themeType" value=<%= url + ',night' %>>night</button>

    <!-- <input type="radio" name="day" value="" onclick="javascript:submit">
    <input type="radio" name="night" value="" onclick="javascript:submit()"> -->
  </form>
</div>
