
<footer>
  <div class="top">
    <div class="hill">

    </div>
    <div class="hill">

    </div>
    <div class="hill">

    </div>
    <div class="hill">

    </div>
  </div>
  <div class="bottom">
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="ecolearninglegacies">eco learning legacies</a></li>
        <li><a href="elkhornvalleymuseum">elkhorn valley museum</a></li>
      </ul>
    </nav>

    <p>created by marcela estrada</p>
  </div>
</footer>


<script type="text/javascript" src="../js/index.js">

</script>
<% if(titleName != 'Home'){ %>
  <script type="text/javascript" src="/js/overlay.js">
  </script>
<% } %>
</body>
</html>
