
<script type="text/javascript" src="../js/index.js">

</script>
<footer>
  <div class="top">
    <div class="hill">

    </div>
    <div class="hill">

    </div>
    <div class="hill">

    </div>
    <div class="hill">

    </div>
  </div>
  <div class="bottom">
    <ul>
      <li>home</li>
      <li>elkhorn valley museum</li>
      <li>eco learning legacies</li>
    </ul>
    <p>created by marcela estrada</p>
  </div>
</footer>
</body>
</html>
