<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <% if(titleName != 'Home'){ %>
      <link rel="stylesheet" href="/css/page.css">
    <% } %>
    <title> <%= titleName %> | Marcela Estrada</title>

  </head>
  <body>
  <header>
    <%- include('daynight') %>
    <% if (titleName !='Home') { %>
      <%- include('logo') %>
    <% } %>
    <%- include('nav') %>

  </header>
