<a class="logo" href="/"><div class="logo">
  <div class="bars">
    <div class="bar one">

    </div>
    <div class="bar two">

    </div>

  </div>
    <h1>my <span>internship</span> projects</h1>
</div>
</a>
