<div class="menu">
  <nav>
    <ul>
      <li><a href="#">home</a></li>
      <li><a href="#">eco learnng legacies</a></li>
      <li><a href="#">elkhorn valley museum</a></li>
    </ul>
  </nav>
  <button class="menuButton" type="button" name="button">Menu</button>
</div>
