<div class="menu">
  <nav id="topMenu">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="ecolearninglegacies">eco learnng legacies</a></li>
      <li><a href="elkhornvalleymuseum">elkhorn valley museum</a></li>
    </ul>
    <button type="button" name="button" onclick="closeMenu()">
      <div class="x">

      </div>
      <div class="x">

      </div>
    </button>
  </nav>
  <button id="menuButton" class="menuBtn" type="button" name="button" onclick="openMenu()">

    Menu

  </button>
</div>
