<%- include('partials/header') %>
<%- include('partials/banner') %>

<div class="cloud">
  <!-- <div class="cloud top">

  </div> -->
  <div class="cloud bottom">
    <!-- <div class="cloud side left">

    </div> -->
    <div class="cloud middle">
      <p><span class="welcome">W</span>elcome! This website was made with the purpose to showcase all the projects I've worked on in the past in previous internships. <br> <br> I completed two internships, one with the Elkhorn Valley Museum and another one with Eco Learning Legacies. Each had their own set of challenges, which I was able to tackle with the help of coworkers and direction from supervisors.
      <br> Feel free to take a look at my projects and if you have an questions, please email me at maestr01@wsc.edu</p>

      <a class="email" href="mailto:maestr01@wsc.edu?subject=feedback"><button type="button" name="button">email me</button></a>
    </div>
    <!-- <div class="cloud side right">

    </div> -->
  </div>
</div>
<div class="sections">
  <div class="left">
    <h2>Eco Learning Legacies</h2>
    <button type="button" name="button" onclick="window.location.href='/ecolearninglegacies'">click me!</button>
  </div>
  <div class="right">
    <h2>Elkhorn Valley Museum</h2>
    <button type="button" name="button" onclick="window.location.href='/elkhornvalleymuseum'">click me!</button>
  </div>
</div>


    <div class="testimonial">
      <h2>Testimonials</h2>
      <p><i>My experience of Marcela is that she has a firm grasp on what a project needs artistically, to make the appropriate statement.
      </i></p>
      <p>- Candia Lea Cole
Founder, Eco-Learning Legacies
</p>
      <a href="/Marcela_FromtheDeskofCandiaLeaCole.pdf" target="_blank"><button type="button" name="button"> Read More</button></a>
    </div>





<%- include('partials/footer') %>
