<%- include('partials/header') %>
<%- include('partials/banner') %>

<div class="cloud">
  <div class="cloud top">

  </div>
  <div class="cloud bottom">
    <div class="cloud side left">

    </div>
    <div class="cloud middle">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet vulputate ex, placerat volutpat orci. Maecenas tristique nulla neque. In elementum et nisi nec commodo.</p>
    </div>
    <div class="cloud side right">

    </div>
  </div>
</div>
<div class="sections">
  <div class="left">
    <h2>Eco Learning Legacies</h2>
    <button type="button" name="button" onclick="window.location.href='/ecolearninglegacies'">click me!</button>
  </div>
  <div class="right">
    <h2>Elkhorn Valley Museum</h2>
    <button type="button" name="button" onclick="window.location.href='/elkhornvalleymuseum'">click me!</button>
  </div>
</div>




<%- include('partials/footer') %>
